{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500,700i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="utf-8">
    <title>Efrat Baseball | {% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav>
      <ul id="nav-list">
        <li id="banner" class="nav-items"><a href="{% url 'index' %}">Efrat Baseball</a></li>
        <li class="nav-items"><a class="{% block schedule %}{% endblock %}" href="{% url 'schedule' %}">Schedule</a></li>
        <li class="nav-items"><a class="{% block standings %}{% endblock %}" href="{% url 'standings' %}">Standings</a></li>
        <li class="nav-items"><a class="{% block register %}{% endblock %}" href="{% url 'register' %}">Register</a></li>
        <li class="nav-items"><a class="{% block comments %}{% endblock %}" href="{% url 'comments' %}">Comments</a></li>
        <li class="nav-items"><a class="{% block gallery %}{% endblock %}" href="{% url 'gallery' %}">Gallery</a></li>
        <li class="nav-items"><a class="{% block contacts %}{% endblock %}" href="{% url 'contacts' %}">Contacts</a></li>
      </ul>
    </nav>
    <div id="content-wrapper">
      {% block content %}
      <h1>This is the homepage</h1>

      {% endblock %}
    </div>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
